.experience__button {
    align-items: center;
    background: var(--cor-principal);
    color: var(--cor-de-fundo);
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    display: inline-flex;
    font-size: .8rem;
    justify-content: center;
    overflow-wrap: break-word;
    padding: 10px 20px 10px 15px;
    text-decoration: none;
    text-align: center;
    width: auto;
    border-radius: 8px;

}

.experience__button:hover{
    transition: .3s;
    cursor: pointer;
    background: var(--cor-de-button);
}